<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Document
    link(rel="stylesheet", href="scss.css")
body
    h1 sass 的用法

    p Mixins,Placeholder 都可以达到代码重用，如果不需要参数就用 placeholder, 如果需要参数才用 Mixins.

    p.lighten  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, deserunt?

    p.darken  Lorem ipsum dolor sit amet.
    
    p.grayscale  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, quisquam?

    p.complement  Lorem ipsum dolor sit amet.