#example
    my-component   

hr
#page
    my-component  


script(type="text/x-template" id="hello-temp")
    ul
        li(v-for="li in data") {{li.name}}


div#demo
    hello-temp(:data="grid")

    hr

    hello-temp(:data="ps")

    hr
    input(v-model="parentMsg")
    mytemp(v-bind:my-message="parentMsg")

    hr


script(src="/js/require/require.js")
script(src="js/comp.js")