h1  hello word

h2 about vm
#page
    p {{ a }}!
    p(:class="[className,classA]") 我的全名 {{fullName}}


    template(v-if="ok")
        h3  Lorem ipsum dolor sit amet.
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    div(v-else) this is have not content


    ul
        li(v-for="item in items")   {{ $key }}  - {{ item.message }}

    button(v-on:click="greet") greet

    hr

    h5 
        input(type="checkbox",v-model="allChecked") 
        | 全选 （{{checkedCount}}）

    ul
        li(v-for="item in list")
            p
                input(type="checkbox" v-bind:value="item.name" v-model="checked")
            p {{item.name}}
            p {{item.age}}


    p {{checked}}

    hr

    div(id="demo" v-demo:hello.a.b="msg")

    hr

#app 

    p {{* message  }}
    p
        input(v-model="message")


    h5 render list
    ul
        li( v-for="todo in todos") {{ todo.text }}

    h5 methods
    p {{ message + parseInt(2 + 8)  }}
    button(v-on:click="reverseMessage") reverseMessage


h2 todos
#todo
    input(v-model="newTodo" v-on:keyup.enter="addTodo")
    ul
        li(v-for="todo in todos")
            span {{ todo.text }}
            button(v-on:click="removeTodo($index)") X


h2 example
#example
    p {{ name }}!
    p(v-if="greeting") hello

script(src="js/hello.js")











