doctype
html
  head
    meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    link(rel="stylesheet" href="/main.css")
    link(rel="shortcut icon" href="favicon.ico")

    title this is layout title
    script(src="//cdn.bootcss.com/jquery/1.12.4/jquery.js")
    script(src="/images/app.js")
  body
    != yield
    block content
        h5 ++++this this layout
        p  ++++Lorem ipsum dolor sit amet.
    block header
        h5 ++++ this is header

    block footer
    block script

 
