<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title this is _out
    script(src="js/demo.js")
body
    block header
        p ++++++ this is e

    block content
        p +++++this is contetn

    block article
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis nulla doloribus iusto, deserunt omnis quaerat qui molestias quasi quo sapiente?

    block script

        p this is script

