<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Document
        script(src="//cdn.bootcss.com/jquery/1.12.4/jquery.js")
        script(src="/js/jquery.fn.js")
    body
        h1  Lorem ipsum dolor sit amet.
    