<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title use papaparse
    script(src="//cdn.bootcss.com/jquery/1.12.4/jquery.js")
    script(src="/js/papaparse/papaparse.js")
    script(src="/js/papa.js")
body
    