<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title require使用测试
        script(src="//cdn.bootcss.com/jquery/1.12.4/jquery.js")
        //- script(src="/js/require/require.js")
        script(src="js/require/module.js")
        //- script(src="/js/layer/layer.js")
        script(src="js/require/main.js")
        script.
            //- require.config({
            //-     paths: {
            //-         jquery: '//cdn.bootcss.com/jquery/1.12.4/jquery',
            //-         layer: 'js/layer/layer',
            //-         abc: 'js/require/module'
            //-     },
            //-     shim:{
            //-         'layer':['jquery']
            //-     }

            //- });
            //- requirejs(['js/require/main']);
    body
        h1 require使用测试