<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title anim
        link(rel="stylesheet", href="anim.css")
        script(src="//cdn.bootcss.com/jquery/3.1.1/jquery.js")
        script(src="anim.js")
    body
        dl
            dd
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda nihil debitis ullam quo deserunt eveniet quaerat et sunt atque, voluptates beatae reprehenderit nesciunt earum ad minima, fugiat tempora excepturi perspiciatis consequuntur, inventore voluptas nam. Explicabo voluptas consequatur nulla provident ducimus tenetur maxime doloremque debitis ex quis quo eveniet perspiciatis facere veniam, corrupti molestiae culpa vitae enim omnis aspernatur obcaecati fugiat! Repellendus deleniti quae officiis. Maiores dignissimos provident recusandae laborum nisi non at eaque inventore. Magnam consequuntur tempora expedita, autem dolor dolorem? Soluta, reiciendis quos quasi, iure molestiae beatae unde aliquid ipsam, ratione impedit placeat nemo architecto alias accusantium pariatur. Eligendi!
            dd
                h1(data-anim="top")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, sint?
                p(data-anim="bottom") this is description
            dd
                h1(data-anim="top")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, sint?
                p(data-anim="bottom") this is description

            
            dd

       

                ul
                    li one
                    li tuo
                    li three
                    li four
                    li five
                    li six
                    li serven
