<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title anim
        link(rel="stylesheet", href="main.css")
    body
        a(href="#anim") 执行动画吧
        a(href="#") 执行动画吧
       
        .btn
            ul
                li one
                li tuo
                li three
                li four
                li five
                li six
                li serven
