<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title anim
        link(rel="stylesheet", href="main.css")
    body
        a(href="#anim") 执行动画吧
        a(href="#") 执行动画吧
       
        .btn
            ul
                li one
                li tuo
                li three
                li four
                li five
                li six
                li serven
        .list
            ul
                each v in [1,2,3,4]
                    li
                        h5  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt officia possimus cupiditate porro aspernatur amet facilis itaque quae. Cum, quae?

        .photos
            ul
                each v in [1,2,3,4]
                    li
                        a(href="#")
                            div.img
                                img(src="/images/ban#{v}.png", alt="")
                            div.info
                                h5  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt officia possimus cupiditate porro aspernatur amet facilis itaque quae. Cum, quae?

