!= partial("_header", { title: "Contact me" })

h1  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, odit.
div #{current.path}
div #{current.source} 

p current is like this

//- {
//-   path: ["articles", "index"],
//-   source: "index"
//- }

div #{title}